* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  background: rgba(68, 68, 68, 0.9);
}

.first-part, .second-part {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template:
    "logo nav nav" 1fr
    "sidenav content advert" 1fr
    "sidenav footer footerRight" 1fr
    / 1fr 1fr 1fr;
    justify-content: space-between;
    background-image:  url(../assets/background.jpg);
    background-attachment: fixed;
    background-size: cover; 
    overflow-x:hidden;
}

.second-part{
  background-image: none;
  background-color: #000;
  opacity: 0.8;
}

.first-part .shadowHome{
    width: 70vw;
    height: auto;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    right: -100%;
    grid-area:footer;
    -moz-transform:translateX(-140%);
    -o-transform: translateX(-140%);
    -webkit-transform:translateX(-140%);
    transform: translateX(-140%);

    transition:transform 1.2s ease, opacity 1.6s ease-in-out;
}

.first-part h1{
  z-index: 5;
  color: white;
  font-size: 3.5vw;
  white-space: nowrap;
  overflow: hidden;
  grid-area:content;
  text-align: center;
  animation: animated-text 0.4s steps(60,end) 0.1s 1 normal both;
}
.first-part h2{
    z-index: 5;
    color: white;
    font-size: 3.5vw;
    white-space: nowrap;
    overflow: hidden;
    grid-area:content;
    align-self: center;
    text-align: center;
    animation: animated-text 2s steps(60,end) 0.3s 1 normal both;
}

.first-part .contacts{
  grid-area:content;
  text-align: center;
  align-self: flex-end;
  z-index: 10;
}

.first-part .fab {
  font-size:3rem;
  padding-left:4px;
  color:white;
}

.first-part .fa-linkedin-in{
  color:white;
}

.first-part .fa-whatsapp-square{
  color:white;
}

.first-part .projectsButton{
  grid-area: footer;
  z-index: 10;
  background: #fbfaff;
  color: #47464b;
  justify-self: center;
  align-self: center;
  text-align: center;
  width: 8rem;
  margin-top: 1rem;
  padding: 1rem 0;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 40px;
  box-shadow: 
  0 0.7px 4px rgba(0, 0, 0, 0.637),
  0 1.9px 11.1px rgba(0, 0, 0, 0.267),
  0 3.5px 16.8px rgba(255, 255, 255, 0.644),
  0 15px 89px rgba(0, 0, 0, 0.295);
  transition: 0.4s ease-in-out;
    /* transform: translateY(-10%); */
 }

 .linkButton{
z-index: 10;
  background: #fbfaff;
  color: #8A0AFD;
  justify-self: center;
  align-self: center;
  text-align: center;
  width: 2rem;
  padding: 0.5rem 0;

  margin-right: 0.8rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  transition: 0.4s ease-in-out;
 }

.first-part svg{
    -moz-transform:scale(-1, -1) translateY(-1.5%);
    -o-transform: scale(-1, -1) translateY(-1.5%);
    -webkit-transform:scale(-1, -1) translateY(-1.5%);
    transform:  scale(-1, -1) translateY(-1.5%);
}

.first-part .snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }
  
  @-webkit-keyframes snowflakes-fall{
      0%{top:-10%}100%{top:100%}
  }
  @-webkit-keyframes snowflakes-shake{
      0%{-webkit-transform:translateX(0px);transform:translateX(0px)}
      50%{-webkit-transform:translateX(80px);transform:translateX(80px)}
      100%{-webkit-transform:translateX(0px);transform:translateX(0px)}
  }
      
  @keyframes snowflakes-fall{0%{top:-10%}100%{top:97%}}
  @keyframes snowflakes-shake{0%{transform:translateX(0px)}
  50%{transform:translateX(80px)}100%{transform:translateX(0px)}
  }
  .first-part .snowflake{position:absolute;top:-10%;z-index:9999;-webkit-user-select:none;
    -moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;
    -webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;
    -webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;
    -webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;
    animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;
    animation-play-state:running,running}
    
    .first-part .snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
    .first-part .snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
    .first-part .snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}
    .first-part .snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
    .first-part .snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
    .first-part .snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
    .first-part .snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
    .first-part .snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
    .first-part .snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
    .first-part .snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

    @keyframes animated-text{
        from{width: 0;}
        to{width: 440px;}
      }

    @keyframes animated-text-mobile{
        from{width: 0;}
        to{width: 350px;}
      }

      
    @keyframes move{
        0%{
          transform: translateX(0px);
        }
        50%{
          transform: translateX(60px);
        }
        100%{
          transform: translateX(0px);
        }
      }

    @keyframes hidden{
      0%{
        transform: translateX(0);
      }
      100%{
        transform: translateX(120%);
      }
    }
.second-part .split{
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.second-part .split:hover .screen {
  opacity: 0.1;
}
.second-part .split .screen{
  position: relative;
  flex-grow: 2;
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  align-items: flex-end;
  transition: 1s;
 justify-content: center;
}

.second-part .split .screen:hover{
  flex-grow: 3;
  opacity: 1;
}

.second-part .split .screen:nth-child(1){
  background-repeat: no-repeat;
  background-position: auto;
  background: url(../assets/lunarie.png);
}
.second-part .split .screen:nth-child(2){
  background-repeat: no-repeat;
  background-position: center;
  background: #222; 
}
.second-part .split .screen:nth-child(3){
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  background-position: center;
  background: url(../assets/pokehunt.png);
}

.second-part .split .screen .content{
    position: absolute;
    width: 400px;
    height: auto;
    z-index: 20;
    background: #fff;
    padding: 40px;
    transform: translateX(150%);
    text-align: justify;
}

.second-part .split .screen:hover .content:not(.hidden){
    transform: translateX(20%);
    transition: 0.5s;
    transition-delay:0.5s;
}

.second-part .split .screen .hidden{
  animation-fill-mode:forwards;
  animation: hidden 1s;
}

.second-part .split .screen .content h2{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 1.8rem;
    color:#e723cd;
}

.second-part .split .screen .content p, a{
  margin:0;
  padding:0;
  font-size: 0.8rem;
  color:#111;
  margin-bottom: 1rem;
}

.exit {
  position: absolute;
  top: 15%;
  right: 10%;
  color: #8A0AFD;
  cursor: pointer;
  font-size: 0.9rem;
}

.second-part .split .spotlight{
  color: #8A0AFD;
}

.second-part .split .screen .moon{
  align-self: center;
  position: absolute;
  justify-self: center;
  width: 200px;
	height: 200px;
  border-radius: 50%;
  background-color: deeppink;
  border: 5px solid rgb(37, 5, 5);
	box-shadow: inset 0 -30px mediumvioletred;
	opacity: 1;
}

.moon::after{
  content: '';
  align-self: center;
  position: absolute;
  justify-self: center;
  width: 188px;
  height: 188px;
  border-radius: 50%;
  border: 1px solid transparent;
  box-shadow: 0 0 200px  #ffffff; 
}
.cloud {
	width: 80px;
	height: 80px;
	position: absolute;
  left: 10%;
  top:50%;
	border-radius: 50%;
  background-color: fuchsia;
  animation: move 4s ease-in-out infinite;
}

.cloud:nth-of-type(1){
  left:60%;
  top:30%;
}

.cloud::before{
  content: "";
	width: 80px;
	height: 80px;
	position: absolute;
	top: 30px;
	left: -40px;
	border-radius: 50%;
	background-color: fuchsia;
}

.cloud::after{
  content: "";
	width: 80px;
	height: 80px;
	position: absolute;
	top: 30px;
	left: 40px;
	border-radius: 50%;
	background-color: fuchsia;
}

.filter{
  width: 145px;
	height: 40px;
	border-radius: 17px;
  position: absolute;
  align-self: center;
  top:70px;
  right:-33px;
  z-index: 10;
	background-color: fuchsia;
	box-shadow: inset 0 -5px purple;
}

@media (max-width: 600px) 
{
  
    .first-part{
    display: grid;
    grid-template:
    "logo" 1fr
    "content" 1fr
    "sidenav" 1fr
    / 1fr ;
    }
    .first-part .shadowHome{
      width: 120vw ;
      -moz-transform:translateX(-67%);
    -o-transform: translateX(-67%);
    -webkit-transform:translateX(-67%);
    transform: translateX(-67%);

    transition: 0.8s ease-in-out;
  }

  .first-part .fab{
    font-size: 2rem;
  }

  .first-part h2{
      grid-area: content;
      text-align: center;
      justify-self: center;
      animation: animated-text-mobile 2s steps(20,end) 0.3s 1 normal both;
      font-size:1.4rem;
  }
  .first-part h1{
    grid-area: content;
    text-align: center;
    animation: animated-text-mobile 0.3s steps(60,end) 0.1s 1 normal both;
    font-size:1.4rem;
}

  .first-part svg{
    transform:  scale(-1, -1) translateY(-1.2%);
  }

  .first-part .projectsButton{
    grid-area: sidenav;
  }
  .second-part .split{
    flex-direction: column;
  }
  .second-part .split .screen .content{
    width: 80%;
    height: 80%;
    padding:20px;
  }
  .second-part .split .screen .content h2{
    text-transform: uppercase;
    font-size: 1.2rem;
    color:#e723cd;
}

.second-part .split .screen .content p, a{
  font-size: 0.6rem;
  color:#111;
  margin-bottom: 1rem;
}

.linkButton{
    width: 1.4em;
    padding: 0.5rem 0;
    margin-right: 0.8rem;
    font-size: 0.6rem;
   }
}
