* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

body{
  overflow-x: hidden;
  background: rgba(68, 68, 68, 0.9);
}

.first-part, .second-part {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template:
    "logo nav nav" 1fr
    "sidenav content advert" 1fr
    "sidenav footer footer" 1fr
    / 1fr 1fr 1fr;
    justify-content: space-between;
    background-image:  url(../assets/background.jpg);
    background-attachment: fixed;
    background-size: cover; 
    overflow:hidden;
}

.second-part{
  background-image: none;
  background-color: #111;
  opacity: 0.8;
}

.first-part .profilepic{
    background: rgba(68, 68, 68, 0.9);
    background-image:  url(../assets/profile.png);
    background-size: contain; 
    width: 170px;
    height: 170px;
    border: 3px solid #333;
    border-radius: 50%;
    margin-left: 30%;
    transform: translateY(250%);
}

.first-part .profile{
    transition: 0.7s ease-in-out;
    grid-area: sidenav;
    transform: translateY(-100%);
}


.first-part .shadowHome{
    width: 70vw;
    height: auto;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    right: -100%;
    grid-area:footer;
    -moz-transform:translateX(-140%);
    -o-transform: translateX(-140%);
    -webkit-transform:translateX(-140%);
    transform: translateX(-140%);

    transition:transform 1.2s ease, opacity 1.6s ease-in-out;
}

.first-part h1{
    z-index: 5;
    color: white;
    font-size: 3.5vw;
    white-space: nowrap;
    overflow: hidden;
    grid-area:content;
    align-self: center;
    text-align: center;
    animation: animated-text 2s steps(60,end) 0.3s 1 normal both;
}

.first-part .contacts{
  grid-area:content;
  text-align: center;
  align-self: flex-end;
  z-index: 10;
}

.first-part .fab {
  font-size:3rem;
  padding-left:4px;
  color:white;
}

.first-part .fa-linkedin-in{
  color:white;
}

.first-part .fa-whatsapp-square{
  color:white;
}

.first-part svg{
    -moz-transform:scale(-1, -1) translateY(-0.5%);
    -o-transform: scale(-1, -1) translateY(-0.5%);
    -webkit-transform:scale(-1, -1) translateY(-0.5%);
    transform:  scale(-1, -1) translateY(-0.5%);
}

.first-part .snowflake {
    color: #fff;
    font-size: 1em;
    font-family: Arial;
    text-shadow: 0 0 1px #000;
  }
  
  @-webkit-keyframes snowflakes-fall{
      0%{top:-10%}100%{top:100%}
  }
  @-webkit-keyframes snowflakes-shake{
      0%{-webkit-transform:translateX(0px);transform:translateX(0px)}
      50%{-webkit-transform:translateX(80px);transform:translateX(80px)}
      100%{-webkit-transform:translateX(0px);transform:translateX(0px)}
  }
      
  @keyframes snowflakes-fall{0%{top:-10%}100%{top:97%}}
  @keyframes snowflakes-shake{0%{transform:translateX(0px)}
  50%{transform:translateX(80px)}100%{transform:translateX(0px)}
  }
  .first-part .snowflake{position:absolute;top:-10%;z-index:9999;-webkit-user-select:none;
    -moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;
    -webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;
    -webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;
    -webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;
    animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;
    animation-play-state:running,running}
    
    .first-part .snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}
    .first-part .snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}
    .first-part .snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}
    .first-part .snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}
    .first-part .snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}
    .first-part .snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}
    .first-part .snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}
    .first-part .snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}
    .first-part .snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}
    .first-part .snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

    @keyframes animated-text{
        from{width: 0;}
        to{width: 440px;}
      }

    @keyframes animated-text-mobile{
        from{width: 0;}
        to{width: 350px;}
      }

.second-part .split{
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}
.second-part .split:hover .screen {
  opacity: 0.1;
}
.second-part .split .screen{
  position: relative;
  flex-grow: 2;
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  align-items: flex-end;
  transition: 1s;
 
}

.second-part .split .screen:hover{
  flex-grow: 5;
  opacity: 1;
}

.second-part .split .screen:nth-child(1){
  background-repeat: no-repeat;
  background-position: auto;
  background: url(../assets/lunarie.png);
}
.second-part .split .screen:nth-child(2){
  background-repeat: no-repeat;
  background-position: center;
  background: url(../assets/lunarie.png);
}
.second-part .split .screen:nth-child(3){
  background-repeat: no-repeat;
  background-position: center;
  background: url(../assets/lunarie.png);
}

.second-part .split .screen .content{
    position: absolute;
    width: 400px;
    height: auto;
    background: #fff;
    padding: 40px;
    transform: translateX(100%);
    text-align: justify;
}

.second-part .split .screen:hover .content{
    transform: translateX(0);
    transition: 0.5s;
    transition-delay:0.5s;
}

.second-part .split .screen .content h2{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 1.8rem;
    color:#e723cd;
}

.second-part .split .screen .content p, a{
  margin:0;
  padding:0;
  font-size: 0.8rem;
  color:#111;

}

.second-part .split .spotlight{
  color: #8A0AFD;
}

@media (max-width: 600px) 
{
  
    .first-part{
    display: grid;
    grid-template:
    "logo" 1fr
    "content" 1fr
    "sidenav" 1fr
    / 1fr ;
    }
    .first-part .shadowHome{
      width: 120vw ;
      -moz-transform:translateX(-67%);
    -o-transform: translateX(-67%);
    -webkit-transform:translateX(-67%);
    transform: translateX(-67%);

    transition: 0.8s ease-in-out;
  }

  .first-part .fab{
    font-size: 2rem;
  }

  .first-part .profile{
    -moz-transform:translateY(-67%);
    -o-transform: translateY(-67%);
    -webkit-transform:translateY(-67%);
    transform: translateY(-200%);
      grid-area: logo;
  }

  .first-part h1{
      grid-area: content;
      text-align: center;
      justify-self: center;
      animation: animated-text-mobile 2s steps(20,end) 0.3s 1 normal both;
      font-size:1.4rem;
  }

  .first-part svg{
    transform:  scale(-1, -1) translateY(-1.2%);
  }

  .second-part .split{
    flex-direction: column;
  }
}
